.cat-fact-info-box {
    background-color: rgb(117, 179, 117);
}

.cat-fact-info-box-item {
    text-align: left;
}

.cat-fact-info-box-item-length {
    font-weight: bold;
}

.cat-fact-error {
    background-color: rgb(207, 102, 102);
}